%p{:id => "notice"}= notice
%h1 Family Tree

%table
  %thead
    %tr
      %th Name
      %th Email
      %th{:colsapn => "3"}
      %tbody
      - @family_members.each do |family_member|
        %tr
          %td= link_to family_member.name, family_member
          %td= family_member.email

%p
  =link_to 'Create New Family Member', new_family_member_path
